
.header{
    background-color: beige;
    width: 100%;
    display: flex;
    align-items: center;
}

.headerComponent{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar{
    width: 60%;
}

.searchInput{
    border: 2px solid black;
    background-color: aqua;
    color: aqua;
}
.BellIcon{
    color: white;
    font-size: 2rem;
}

.profileDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.StoreName{
    font-size: 12px;
    font-weight: bold;
}

.changeSeller{
    font-size: 10px;
    font-weight: 400;
    color: #979797
}

.ProfileImg{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.ProfileSection{
    width: 100%;
    display: flex;
}

.ProfileSection > div{
    margin-right: 1rem;
}